header{
    height: 9%;
    background-color: black;
    width: 100%;
}

.sectionimg{
    height: 45px;
    width: 45px;
    margin-top: 0.5%;
    margin-right: 0.1%;
    margin-left: 1.5%;
    float: left;
}

img{
    height: 100%;
    width: 100%;
}

.sectiontitle{
    height: 100%;
    width: 120px;
    float:left;
}

.title{
    color: white;
    font-size: 17pt;
    font-weight: 700;
}