header{
    height: 9%;
    background-color: black;
    position: fixed;
    width: 100%;
}

.sectionimg{
    height: 50px;
    width: 50px;
    padding: 0.4%;
    margin-left: 1.5%;
    float: left;
}

img{
    height: 100%;
    width: 100%;
}

.sectiontitle{
    height: 100%;
    width: 120px;
    float:left;
}

.title{
    color: white;
    font-size: 17pt;
    font-weight: 700;
}