<footer>
    <section class="sectionimg">
        <img class="logo" src="../../../../assets/img/logo_header"/>
    </section>
    <section class="sectiontitle">
        <p class="title">SaberMais</p>
    </section>
    <section class="sectionname">
        <p class="text">Desenvolvido por Hícaro Bauer</p>
    </section>
    <section class="sectioncontato">
        <a href="https://www.linkedin.com/in/h%C3%ADcaro-gabriel-bauer-nonato-324a40227/" target="_blank"><img class="contato" src="../../../../assets/img/contato.png" /></a>
    </section>
</footer>
