.title{
    text-align: center;
    color: rgba(255, 255, 255, 0.89);
    font-size: 17pt;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 30px;
}

.campo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.label{
    color: white;
    margin-top: 15px;
    font-size: 14pt;
}

.erro {
    color: red;
    margin-top: 3px;
}

input{
    height: 30px;
    border-radius: 2px;
    width: 420px;
    font-size: 13pt;
    padding: 5px;
}

textarea {
    resize: none;
    width: 420px;
    height: 120px;
    font-size: 13pt;
    padding: 5px;
}

.cadastrar{
    background-color: rgba(0, 128, 0, 0.774) !important;
    font-size: 12pt;
    margin: 0 auto;
    height: 45px !important;
    width: 110px; 
}

.voltar{
    background-color: rgba(255, 0, 0, 0.753) !important;
    font-size: 12pt;
    margin: 0 auto;
    height: 45px !important;
    width: 110px; 
}

.buttons{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}