<div class="campo">
    <form>

        <p class="title">Atualizar Categoria</p>   

        <p>Nome</p>
        <input [(ngModel)]="categoria.nome" type="text" name="nome" placeholder="Informe o nome da categoria" />

        <p>Descrição</p>
        <textarea [(ngModel)]="categoria.descricao" type="text" name="descricao" placeholder="Informe a descrição da categoria"></textarea>
        
        <div class="buttons">
            <button (click)="update()"  mat-flat-button color="primary" class="mat-elevation-z8 cadastrar">Atualizar</button>
            <button (click)="voltar()"  mat-flat-button color="primary" class="mat-elevation-z8 voltar">Voltar</button>
        </div>

    </form>
</div>